@import "tailwindcss";
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@import 'primeicons/primeicons.css';

:root {
  /* Primary Palette (adjust these if you have a separate primary palette) */
  --p-primary-50: #f8fafc;
  --p-primary-100: #f1f5f9;
  --p-primary-200: #e2e8f0;
  --p-primary-300: #cbd5e1;
  --p-primary-400: #94a3b8;
  --p-primary-500: #64748b;
  --p-primary-600: #475569;
  --p-primary-700: #334155;
  --p-primary-800: #1e293b;
  --p-primary-900: #0f172a;
  --p-primary-950: #01030a;

  /* Surface Palette */
  --p-surface-0: #ffffff;
  --p-surface-50: #f8fafc;
  --p-surface-100: #f1f5f9;
  --p-surface-200: #e2e8f0;
  --p-surface-300: #cbd5e1;
  --p-surface-400: #94a3b8;
  --p-surface-500: #64748b;
  --p-surface-600: #475569;
  --p-surface-700: #334155;
  --p-surface-800: #1e293b;
  --p-surface-900: #0f172a;
  --p-surface-950: #01030a;

  /* Content Border Radius */
  --p-content-border-radius: 6px;

  /* Light Mode */
  --p-primary-color: var(--p-primary-950);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);

  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);

  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);

  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* Dark Mode */
:root.p-dark {
  --p-primary-color: var(--p-primary-50);
  --p-primary-contrast-color: var(--p-surface-900);
  --p-primary-hover-color: var(--p-primary-300);
  --p-primary-active-color: var(--p-primary-200);

  --p-content-border-color: var(--p-surface-700);
  --p-content-hover-background: var(--p-surface-800);
  --p-content-hover-color: var(--p-surface-0);

  --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
  --p-highlight-color: rgba(255, 255, 255, 0.87);
  --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
  --p-highlight-focus-color: rgba(255, 255, 255, 0.87);

  --p-text-color: var(--p-surface-0);
  --p-text-hover-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-text-hover-muted-color: var(--p-surface-300);
}

body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter var, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-size: 14px;
}

.alegreya {
  font-family: "Alegreya Sans SC", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.striped-bg {
  background-color: #ccd1d6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25rem 10px;
  background-image: linear-gradient(135deg, #e0e4e8 25%, #d9dde1 25%, #d9dde1 50%, #e0e4e8 50%, #e0e4e8 75%, #d9dde1 75%, #d9dde1 100%);
  background-size: 10px 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

/* Fade transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.info {
  background: url('@/assets/images/bg_info.svg') no-repeat left;
}

.ability_card {
  background: url('@/assets/images/bg_ability_score.svg') no-repeat center;
}

.proeficiency_card, .walking_card {
  background: url('@/assets/images/bg_common.svg') no-repeat center;
}

.hp_card {
  background: url('@/assets/images/bg_common_2.svg') no-repeat center;
}

.basic_info_card {
  background: url('@/assets/images/bg_common_6.svg') no-repeat center;
}

.armor_class_card {
  background: url('@/assets/images/bg_class_armor.svg') no-repeat center;
}

.initiative_card {
  background: url('@/assets/images/bg_iniciative.svg') no-repeat center;
}